.container {
    height: 90vh;
    display: grid;
    place-items: center;
}

.box {
    width: 150px;
    height: 150px;
    background-color: yellow;
    transition-property: border-radius, background-color;
    transition-duration: 1s, 3s;

    &:hover {
        border-radius: 50%;
        background-color: red;
    }
}