body{
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    font-family: sans-serif;
}

header{
    background-color: #4075d5;
    padding: 10px 0;
    color: white;
    text-align: center;
}

#container{
    width: 95%;
    margin:30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}